.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 126px;
}

@media screen and (max-width: 800px) {
    .main {
        flex-direction: column;
        margin-bottom: 32px;
    }
}